<?xml version="1.0" encoding="utf-8"?>
<!--
  - SPDX-FileCopyrightText: 2016 Nextcloud GmbH and Nextcloud contributors
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="./tests/Unit/bootstrap.php"
		 verbose="true"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
>
  <coverage>
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
    <report>
      <html outputDirectory="./tests/coverage"/>
    </report>
  </coverage>
  <testsuite name="PreviewGenerator unit tests">
    <directory suffix="Test.php">./tests/Unit</directory>
  </testsuite>
</phpunit>
